* {
    background-color: #FFFAE2;
    color: #635517;
    font-family: monospace;
    width: auto;
    line-height: 100%;
    max-width: 100%;

    
}

header {
    color: #A58E27;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 200%;
    margin-top: 3em;
    letter-spacing: 5px;
}

h2 {
    width: auto;
    max-width: 80%;
    font-size: 20px;
    line-height: 75%;
    margin: auto;
}

span {
    background-color: #EADDA6;
}

li {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 200%;
    list-style-type: none;
    width: auto;
    max-width: 80%;
    padding: ;

}

textarea {
    width: 80%;
    max-width: 80%;
    padding: 20px;
    border: 3px solid #92977E;
    border-radius: 20px;
    box-sizing: auto;
    background-color: #ffffff;
    font-size: 1rem;
    font-style: italic;
    margin: 1em;
}

.class_quadroDeInput {
    margin: 2em;
}

button {
    border: 3px solid #92977E;
    border-radius: 20px;
    padding: 10px;
    line-height: 100%;
    margin: 2em;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #edece8;
}


footer {
text-align: center;
margin-bottom: 5em;
}