* {
    margin: center;
    background-color: #FFFAE2;
    color: #635517;
    font-family: monospace;
    width: auto;
    line-height: 100%;


    /*
  letter-spacing: -75%;
  border: 5px solid #92977E;*/
}

header {
    color: #2800FF;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
    margin: auto;
    text-align: center;
    letter-spacing: 5px;

}

h1 {
    color: #A58E27;
}

span {
    background-color: #EADDA6;
}

li {
    line-height: 200%;
    list-style-type: none;

}

textarea {
    resize: both;
    overflow: auto;
    border: 3px solid #92977E;
    div[lang] {
            font-weight: bold;
        }

}


reset-button {
    border: 3px solid #92977E;
    padding: auto;
    line-height: 200%;
    margin: auto;
    text-align: center;
}
footer {
text-align: center;

}